@use '../util/variables' as *;

.button {
    font-size: 1.125rem;
    font-weight: 500;
    padding: .25rem 1.125rem;
    border: 3px solid $dark-blue-a30;
    border-radius: 3rem;
    transition: border ease 150ms;

    img.arrow {
        position: relative;
        display: inline-block;
        width: 1rem;
        top: .1rem;
        opacity: 0;
        margin-left: -1.25rem;
        transition: margin 150ms ease, opacity 150ms cubic-bezier(0.25, 1, 0.5, 1);
    }
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            border: 3px solid $dark-blue-a60;

            img.arrow {
                opacity: 1;
                margin-left: .25rem;
                transition: margin 150ms ease-out, opacity 150ms cubic-bezier(0.5, 0, 0.75, 0);
            }
        }
    }

    &:active {
        border: 3px solid $dark-blue-a60;
    }
}