@use '../util/variables' as *;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;

    img {
        height: 2.5rem;
    }

    nav {
        ul {
            list-style-type: none;
            display: flex;
            gap: 1.5rem;
        }
    }
}