@use '../util/variables' as *;

.intro {
    position: relative;

    .background {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
    }

    .column {
        width: 50%;
    }

    .content {
        position: relative;
        display: flex;
        gap: 2rem;
        padding: 0 2rem;

        .title {
            margin: 5rem 0;
        }

        img.image-intro {
            position: relative;
            top: 2rem;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}