@use '../util/variables' as *;

.orb {
    position: absolute;
    aspect-ratio: 1 / 1;

    &.orange {
        background: radial-gradient(50% 50% at 50% 50%, $light-orange 50%, $light-orange-a0 100%);
    }

    &.blue {
        background: radial-gradient(50% 50% at 50% 50%, $light-blue 50%, $light-blue-a0 100%);
    }

    &.green {
        background: radial-gradient(50% 50% at 50% 50%, $light-green 50%, $light-green-a0 100%);
    }

    &.orb-1 {
        width: 60%;
        bottom: 0;
        transform: translate(20%, 50%);
    }

    &.orb-2 {
        width: 50%;
        top: 0;
        left: 0;
        transform: translate(-30%, -30%);
    }

    &.orb-3 {
        width: 80%;
        top: 0;
        right: 0;
        transform: translate(30%, -30%);
    }

    &.orb-4 {
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &.orb-5 {
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}