@use '../util/variables' as *;

:root {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 18px;
    color: $dark-blue;
}

#main {
    max-width: 1200px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}