.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.625rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.mb-0 {
  margin-bottom: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.mb-6 {
  margin-bottom: 3rem;
}

.mb-8 {
  margin-bottom: 4rem;
}

.mb-12 {
  margin-bottom: 6rem;
}

.mb-16 {
  margin-bottom: 8rem;
}

.mt-0 {
  margin-top: 0.25rem;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mt-6 {
  margin-top: 3rem;
}

.mt-8 {
  margin-top: 4rem;
}

.mt-12 {
  margin-top: 6rem;
}

.mt-16 {
  margin-top: 8rem;
}

.bold {
  font-weight: 500;
}

.lighter {
  color: rgba(8, 3, 46, 0.6);
}

.z-index-0 {
  position: relative;
  z-index: 0;
}

.z-index-1 {
  position: relative;
  z-index: 1;
}

.z-index-2 {
  position: relative;
  z-index: 2;
}

.z-index-3 {
  position: relative;
  z-index: 3;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 18px;
  color: rgb(8, 3, 46);
}

#main {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}
header img {
  height: 2.5rem;
}
header nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

.intro {
  position: relative;
}
.intro .background {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.intro .column {
  width: 50%;
}
.intro .content {
  position: relative;
  display: flex;
  gap: 2rem;
  padding: 0 2rem;
}
.intro .content .title {
  margin: 5rem 0;
}
.intro .content img.image-intro {
  position: relative;
  top: 2rem;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.button {
  display: inline-flex;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 0.25rem 1.125rem;
  border: 3px solid rgba(8, 3, 46, 0.3);
  border-radius: 3rem;
  transition: border ease 100ms;
}
.button img.arrow {
  width: 1rem;
  opacity: 0;
  margin-left: -1rem;
  transition: margin 100ms ease, opacity 100ms cubic-bezier(0.25, 1, 0.5, 1);
}
.button.small {
  font-size: 0.875rem;
  padding: 0.25rem 1rem;
}
.button.small img.arrow {
  width: 0.8rem;
  margin-left: -0.875rem;
}
.button:active {
  border: 3px solid rgb(8, 3, 46);
}
@media (hover: hover) and (pointer: fine) {
  .button:hover img.arrow {
    opacity: 1;
    margin-left: 0.5rem;
    transition: margin 100ms ease-out, opacity 100ms cubic-bezier(0.5, 0, 0.75, 0);
  }
  .button:hover.small img.arrow {
    margin-left: 0.4rem;
  }
}

.orb {
  position: absolute;
  aspect-ratio: 1/1;
}
.orb.orange {
  background: radial-gradient(50% 50% at 50% 50%, rgb(255, 241, 231) 50%, rgba(255, 241, 231, 0) 100%);
}
.orb.blue {
  background: radial-gradient(50% 50% at 50% 50%, rgb(243, 241, 255) 50%, rgba(243, 241, 255, 0) 100%);
}
.orb.green {
  background: radial-gradient(50% 50% at 50% 50%, rgb(236, 249, 241) 50%, rgba(236, 249, 241, 0) 100%);
}
.orb.orb-1 {
  width: 60%;
  bottom: 0;
  transform: translate(20%, 50%);
}
.orb.orb-2 {
  width: 50%;
  top: 0;
  left: 0;
  transform: translate(-30%, -30%);
}
.orb.orb-3 {
  width: 80%;
  top: 0;
  right: 0;
  transform: translate(30%, -30%);
}
.orb.orb-4 {
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.orb.orb-5 {
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.features .title {
  text-align: center;
  max-width: 600px;
  margin: auto;
}
.features .feature {
  display: flex;
  gap: 2rem;
}
.features .feature img.image-feature {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.features .feature .column {
  width: 50%;
  display: flex;
  justify-content: center;
  position: relative;
}
.features .feature .text {
  padding: 3rem 2rem;
}
.features .feature .background {
  position: absolute;
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: "Rubik";
  src: url("/assets/Rubik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("/assets/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}/*# sourceMappingURL=style.css.map */