@use 'util/variables';
@use 'util/utilities';
@use 'base/normalize';
@use 'base/global';
@use 'components/header';

@font-face {
    font-family: "Rubik";
    src: url("/assets/Rubik-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Rubik";
    src: url("/assets/Rubik-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}