.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.text-sm	{
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-lg	{
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.text-xl	{
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.mb-1 {
    margin-bottom: .5rem;
}

.mb-2 {
    margin-bottom: 1rem;
}

.mb-3 {
    margin-bottom: 1.5rem;
}

.mb-4 {
    margin-bottom: 2rem;
}

.mb-8 {
    margin-bottom: 4rem;
}

.mb-16 {
    margin-bottom: 5rem;
}

.mt-1 {
    margin-top: .5rem;
}

.mt-2 {
    margin-top: 1rem;
}

.mt-3 {
    margin-top: 1.5rem;
}

.mt-4 {
    margin-top: 2rem;
}

.mt-8 {
    margin-top: 4rem;
}

.mt-16 {
    margin-top: 8rem;
}

.bold {
    font-weight: 500;
}