$dark-blue: rgb(8, 3, 46);
$dark-blue-a60: rgba(8, 3, 46, .6);
$dark-blue-a30: rgba(8, 3, 46, .3);
$dark-blue-a10: rgba(8, 3, 46, .1);

$orange: rgb(247, 197, 159);
$green: rgb(92, 156, 117);
$blue: rgb(217, 212, 251);

$light-orange: rgb(255, 241, 231);
$light-orange-a0: rgba(255, 241, 231, 0);
$light-green: rgb(236, 249, 241);
$light-green-a0: rgba(236, 249, 241, 0);
$light-blue: rgb(243, 241, 255);
$light-blue-a0: rgba(243, 241, 255, 0);
